.slice_container.table table.table {
  margin: 0px !important;
  background: transparent;
  background-color: white;
}

table.table thead th.sorting:after, table.table thead th.sorting_asc:after, table.table thead th.sorting_desc:after {
  top: 0px;
}

.like-pre {
  white-space: pre-wrap;
}

input[type="search"].dataTables_filter::placeholder { 
  color: #B0B0B0
}

#cell_progress_bar {
  float:left;
  width: 75%;
}

#cell_progress_bar .progress_bar {
  position: relative;
  height: 8px;
  border-radius: 6px;
  top:1px;
}

#cell_progress_bar .positive_bar {
  background-color:#52BE80;
}

#cell_progress_bar .negative_bar {
  background-color: #EC7063;
}

#cell_progress_bar .neutral_bar {
  background-color: #D5D8DC;
}
