.radar .radar-tooltip {
  position: absolute;
  width: auto;
  background: #ddd;
  padding: 10px;
  font-size: 12px;
  font-weight: 200;
  color: #333;
  border: 1px solid #fff;
  text-align: left;
  pointer-events: none;
}

.radar_legend_text {
  font-size: 0.8em;
}

.category_legend {
  fill: grey;
}